:root { 
  // Icon colors
  --ids-color-icon-action-secondary-disabled: var(--ids-color-blue-70);
  --ids-color-icon-action-secondary-selected: var(--ids-color-blue-90);
  --ids-color-icon-action-secondary-hover: var(--ids-color-blue-90);
  --ids-color-icon-action-secondary-defaut: var(--ids-color-blue-70);
  --ids-color-icon-action-primary-visited: var(--ids-color-purple-100);
  --ids-color-icon-action-primary-disabled: var(--ids-color-blue-70);
  --ids-color-icon-action-primary-selected: var(--ids-color-blue-90);
  --ids-color-icon-action-primary-hover: var(--ids-color-blue-90);
  --ids-color-icon-action-primary-default: var(--ids-color-blue-70);
  --ids-color-icon-action-error-selected: var(--ids-color-red-100);
  --ids-color-icon-action-error-default: var(--ids-color-red-80);
  --ids-color-icon-action-error-hover: var(--ids-color-red-100);
  --ids-color-icon-action-neutral-hover: var(--ids-color-black-90);
  --ids-color-icon-action-neutral-selected: var(--ids-color-black-90);
  --ids-color-icon-action-neutral-default: var(--ids-color-black-70);
  --ids-color-icon-action-tertiary-disabled: var(--ids-color-black-90);
  --ids-color-icon-action-tertiary-selected: var(--ids-color-black-100);
  --ids-color-icon-action-tertiary-hover: var(--ids-color-black-100);
  --ids-color-icon-action-tertiary-default: var(--ids-color-black-90);
  --ids-color-icon-on-caution: var(--ids-color-text-inverse-default);
  --ids-color-icon-on-info: var(--ids-color-text-inverse-default);
  --ids-color-icon-on-error: var(--ids-color-text-inverse-default);
  --ids-color-icon-on-warning: var(--ids-color-text-inverse-default);
  --ids-color-icon-on-action: var(--ids-color-text-inverse-default);
  --ids-color-icon-on-neutral: var(--ids-color-text-inverse-default);
  --ids-color-icon-on-success: var(--ids-color-text-inverse-default);
  --ids-color-icon-info: var(--ids-color-blue-80);
  --ids-color-icon-caution: var(--ids-color-yellow-80);
  --ids-color-icon-error: var(--ids-color-red-80);
  --ids-color-icon-warning: var(--ids-color-orange-80);
  --ids-color-icon-success: var(--ids-color-green-80);
  --ids-color-icon-inverse-default: var(--ids-color-black-100);
  --ids-color-icon-inverse-secondary: var(--ids-color-black-90);
  --ids-color-icon-inverse-default: var(--ids-color-white-100);
  --ids-color-icon-inverse-disabled: var(--ids-color-white-40);
  --ids-color-icon-inverse-tertiary: var(--ids-color-white-60);
  --ids-color-icon-inverse-secondary: var(--ids-color-white-80);
  // Accent colors
  --ids-color-accent-theme-strongest: var(--ids-color-theme-100);
  --ids-color-accent-theme-stronger: var(--ids-color-theme-90);
  --ids-color-accent-theme-default: var(--ids-color-theme-80);
  --ids-color-accent-theme-weaker: var(--ids-color-theme-30);
  --ids-color-accent-theme-weakest: var(--ids-color-theme-10);
  --ids-color-accent-theme-strong: var(--ids-color-theme-80);
  --ids-color-accent-red-weakest: var(--ids-color-red-10);
  --ids-color-accent-red: var(--ids-color-red-60);
  --ids-color-accent-red-strongest: var(--ids-color-red-100);
  --ids-color-accent-red-default: var(--ids-color-red-80);
  --ids-color-accent-blue: var(--ids-color-blue-100);
  --ids-color-accent-blue-default: var(--ids-color-blue-80);
  --ids-color-accent-blue-strongest: var(--ids-color-blue-100);
  --ids-color-accent-blue-weakest: var(--ids-color-blue-10);
  --ids-color-accent-teal-strongest: var(--ids-color-teal-100);
  --ids-color-accent-teal-default: var(--ids-color-teal-80);
  --ids-color-accent-teal: var(--ids-color-teal-90);
  --ids-color-accent-teal-weakest: var(--ids-color-teal-10);
  --ids-color-accent-gray-strongest: var(--ids-color-gray-100);
  --ids-color-accent-gray-weakest: var(--ids-color-gray-10);
  --ids-color-accent-gray-default: var(--ids-color-gray-80);
  --ids-color-accent-purple-strongest: var(--ids-color-purple-100);
  --ids-color-accent-purple-weakest: var(--ids-color-purple-10);
  --ids-color-accent-purple-default: var(--ids-color-purple-80);
  --ids-color-accent-purple: var(--ids-color-purple-80);
  --ids-color-accent-green-strongest: var(--ids-color-green-100);
  --ids-color-accent-green-weakest: var(--ids-color-green-10);
  --ids-color-accent-green-default: var(--ids-color-green-80);
  --ids-color-accent-green: var(--ids-color-green-100);
  --ids-color-accent-orange-strongest: var(--ids-color-orange-100);
  --ids-color-accent-orange-default: var(--ids-color-orange-80);
  --ids-color-accent-orange-weakest: var(--ids-color-orange-20);
  --ids-color-accent-orange: var(--ids-color-orange-90);
  --ids-color-accent-yellow-default: var(--ids-color-yellow-60);
  --ids-color-accent-yellow-strongest: var(--ids-color-yellow-100);
  --ids-color-accent-yellow-weakest: var(--ids-color-yellow-10);
  // Chart Colors
  --ids-color-charts-density-10: var(--ids-color-blue-10);
  --ids-color-charts-density-20: var(--ids-color-blue-20);
  --ids-color-charts-density-30: var(--ids-color-blue-30);
  --ids-color-charts-density-40: var(--ids-color-blue-40);
  --ids-color-charts-density-50: var(--ids-color-blue-50);
  --ids-color-charts-density-60: var(--ids-color-blue-60);
  --ids-color-charts-density-70: var(--ids-color-blue-70);
  --ids-color-charts-density-80: var(--ids-color-blue-80);
  --ids-color-charts-density-90: var(--ids-color-blue-90);
  --ids-color-charts-density-100: var(--ids-color-blue-100);
  --ids-color-charts-qualitative-10: var(--ids-color-gray-60);
  --ids-color-charts-qualitative-11: var(--ids-color-gray-40);
  --ids-color-charts-qualitative-12: var(--ids-color-gray-20);
  --ids-color-charts-qualitative-13: var(--ids-color-teal-80);
  --ids-color-charts-qualitative-14: var(--ids-color-teal-50);
  --ids-color-charts-qualitative-15: var(--ids-color-teal-30);
  --ids-color-charts-qualitative-07: var(--ids-color-purple-70);
  --ids-color-charts-qualitative-04: var(--ids-color-green-80);
  --ids-color-charts-qualitative-09: var(--ids-color-purple-30);
  --ids-color-charts-qualitative-05: var(--ids-color-green-50);
  --ids-color-charts-qualitative-02: var(--ids-color-blue-50);
  --ids-color-charts-qualitative-08: var(--ids-color-purple-50);
  --ids-color-charts-qualitative-06: var(--ids-color-green-30);
  --ids-color-charts-qualitative-03: var(--ids-color-blue-30);
  --ids-color-charts-qualitative-01: var(--ids-color-blue-80);
  --ids-color-charts-sequential-10: var(--ids-color-gray-40);
  --ids-color-charts-sequential-11: var(--ids-color-teal-80);
  --ids-color-charts-sequential-12: var(--ids-color-orange-100);
  --ids-color-charts-sequential-13: var(--ids-color-purple-50);
  --ids-color-charts-sequential-14: var(--ids-color-blue-80);
  --ids-color-charts-sequential-15: var(--ids-color-red-50);
  --ids-color-charts-sequential-16: var(--ids-color-purple-100);
  --ids-color-charts-sequential-17: var(--ids-color-green-50);
  --ids-color-charts-sequential-18: var(--ids-color-teal-100);
  --ids-color-charts-sequential-19: var(--ids-color-gray-80);
  --ids-color-charts-sequential-20: var(--ids-color-red-60);
  --ids-color-charts-sequential-06: var(--ids-color-orange-90);
  --ids-color-charts-sequential-08: var(--ids-color-blue-50);
  --ids-color-charts-sequential-04: var(--ids-color-gray-60);
  --ids-color-charts-sequential-02: var(--ids-color-teal-60);
  --ids-color-charts-sequential-09: var(--ids-color-red-100);
  --ids-color-charts-sequential-07: var(--ids-color-green-100);
  --ids-color-charts-sequential-05: var(--ids-color-orange-50);
  --ids-color-charts-sequential-03: var(--ids-color-purple-80);
  --ids-color-charts-sequential-01: var(--ids-color-blue-100);
  --ids-color-charts-status-neutral: var(--ids-color-gray-20);
  --ids-color-charts-status-negative: var(--ids-color-red-60);
  --ids-color-charts-status-positive: var(--ids-color-green-70);
  --ids-color-charts-binary-02: var(--ids-color-teal-60);
  --ids-color-charts-binary-01: var(--ids-color-blue-100);
  // Icon colors
  --ids-color-text-action-primary-visited: var(--ids-color-purple-100);
  --ids-color-text-action-primary-hover: var(--ids-color-blue-90);
  --ids-color-text-action-primary-selected: var(--ids-color-blue-90);
  --ids-color-text-action-primary-default: var(--ids-color-blue-80);
  --ids-color-text-action-error-hover: var(--ids-color-red-100);
  --ids-color-text-action-error-selected: var(--ids-color-red-100);
  --ids-color-text-action-error-default: var(--ids-color-red-80);
  --ids-color-text-action-neutral-selected: var(--ids-color-black-90);
  --ids-color-text-action-neutral-hover: var(--ids-color-black-90);
  --ids-color-text-action-neutral-default: var(--ids-color-black-70);
  --ids-color-text-action-secondary-disabled: var(--ids-color-blue-80);
  --ids-color-text-action-secondary-selected: var(--ids-color-blue-90);
  --ids-color-text-action-secondary-hover: var(--ids-color-blue-90);
  --ids-color-text-action-secondary-default: var(--ids-color-blue-80);
  --ids-color-text-action-tertiary-disabled: var(--ids-color-black-90);
  --ids-color-text-action-tertiary-selected: var(--ids-color-black-100);
  --ids-color-text-action-tertiary-hover: var(--ids-color-black-100);
  --ids-color-text-action-tertiary-default: var(--ids-color-black-90);
  --ids-color-text-on-success: var(--ids-color-text-inverse-default);
  --ids-color-text-on-caution: var(--ids-color-text-inverse-default);
  --ids-color-text-on-neutral: var(--ids-color-text-inverse-default);
  --ids-color-text-on-error: var(--ids-color-text-inverse-default);
  --ids-color-text-on-info: var(--ids-color-text-inverse-default);
  --ids-color-text-on-action: var(--ids-color-text-inverse-default);
  --ids-color-text-on-warning: var(--ids-color-text-inverse-default);
  --ids-color-text-info: var(--ids-color-blue-60);
  --ids-color-text-caution: var(--ids-color-yellow-60);
  --ids-color-text-error: var(--ids-color-red-60);
  --ids-color-text-warning: var(--ids-color-orange-60);
  --ids-color-text-success: var(--ids-color-green-60);
  --ids-color-text-inverse-default: var(--ids-color-black-100);
  --ids-color-text-inverse-secondary: var(--ids-color-black-90);
  --ids-color-text-inverse-default: var(--ids-color-white-100);
  --ids-color-text-inverse-disabled: var(--ids-color-white-40);
  --ids-color-text-inverse-tertiary: var(--ids-color-white-60);
  --ids-color-text-inverse-secondary: var(--ids-color-white-80);
  --ids-color-text-disabled: var(--ids-color-black-40);
  --ids-color-text-tertiary: var(--ids-color-black-70);
  --ids-color-text-secondary: var(--ids-color-black-90);
  --ids-color-text-default: var(--ids-color-black-100);
  // Surface colors
  --ids-color-surface-action-danger-disabled: var(--ids-color-error-strong);
  --ids-color-surface-action-danger-selected: var(--ids-color-error-strongest);
  --ids-color-surface-action-danger-pressed: var(--ids-color-error-strongest);
  --ids-color-surface-action-danger-hover: var(--ids-color-error-strongest);
  --ids-color-surface-action-danger-default: var(--ids-color-error-strong);
  --ids-color-surface-action-neutral-disabled: var(--ids-color-neutral-weak);
  --ids-color-surface-action-neutral-hover: var(--ids-color-neutral-weak);
  --ids-color-surface-action-neutral-read-only: var(--ids-color-neutral-weak);
  --ids-color-surface-action-neutral-default: var(--ids-color-neutral-weakest);
  --ids-color-surface-action-tertiary-gen-ai: var(--ids-color-surface-default);
  --ids-color-surface-action-tertiary-destructive-hover: var(--ids-color-error-weakest);
  --ids-color-surface-action-tertiary-disabled: var(--ids-color-surface-default);
  --ids-color-surface-action-tertiary-selected: var(--ids-color-surface-default);
  --ids-color-surface-action-tertiary-hover: var(--ids-color-black-10);
  --ids-color-surface-action-tertiary-default: var(--ids-color-surface-default);
  --ids-color-surface-action-secondary-disabled: var(--ids-color-surface-default);
  --ids-color-surface-action-secondary-selected: var(--ids-color-surface-default);
  --ids-color-surface-action-secondary-hover: var(--ids-color-blue-10);
  --ids-color-surface-action-secondary-default: var(--ids-color-surface-default);
  --ids-color-surface-action-primary-disabled: var(--ids-color-blue-80);
  --ids-color-surface-action-primary-selected: var(--ids-color-blue-90);
  --ids-color-surface-action-primary-pressed: var(--ids-color-blue-90);
  --ids-color-surface-action-primary-hover: var(--ids-color-blue-90);
  --ids-color-surface-action-primary-default: var(--ids-color-blue-80);
  --ids-color-surface-info-default: var(--ids-color-info-strong);
  --ids-color-surface-elevated: var(--ids-color-white-100);
  --ids-color-surface-error-default: var(--ids-color-error-strong);
  --ids-color-surface-default: var(--ids-color-white-100);
  --ids-color-surface-success-default: var(--ids-color-success-stronger);
  --ids-color-surface-warning-default: var(--ids-color-warning-weakest);
  --ids-color-surface-caution-default: var(--ids-color-caution-strong);
  --ids-color-surface-inverse-default: var(--ids-color-gray-100);
  --ids-color-surface-inverse-strongest: var(--ids-color-gray-100);
  --ids-color-surface-inverse-stronger: var(--ids-color-gray-80);
  --ids-color-surface-inverse-weaker: var(--ids-color-gray-60);
  --ids-color-surface-inverse-weakest: var(--ids-color-gray-40);
  --ids-color-surface-neutral-default: var(--ids-color-neutral-strong);
  // Status colors
  --ids-color-warning-strongest: var(--ids-color-orange-100);
  --ids-color-warning-stronger: var(--ids-color-orange-90);
  --ids-color-warning-strong: var(--ids-color-orange-80);
  --ids-color-warning-weaker: var(--ids-color-orange-20);
  --ids-color-warning-weakest: var(--ids-color-orange-10);
  --ids-color-caution-strongest: var(--ids-color-yellow-100);
  --ids-color-caution-stronger: var(--ids-color-yellow-90);
  --ids-color-caution-strong: var(--ids-color-yellow-80);
  --ids-color-caution-weaker: var(--ids-color-yellow-50);
  --ids-color-caution-weakest: var(--ids-color-yellow-10);
  --ids-color-neutral-strongest: var(--ids-color-black-100);
  --ids-color-neutral-stronger: var(--ids-color-gray-100);
  --ids-color-neutral-strong: var(--ids-color-gray-80);
  --ids-color-neutral-weak: var(--ids-color-gray-40);
  --ids-color-neutral-weaker: var(--ids-color-gray-10);
  --ids-color-neutral-weakest: var(--ids-color-white-100);
  --ids-color-error-strongest: var(--ids-color-red-100);
  --ids-color-error-stronger: var(--ids-color-red-90);
  --ids-color-error-strong: var(--ids-color-red-80);
  --ids-color-error-weaker: var(--ids-color-red-40);
  --ids-color-error-weakest: var(--ids-color-red-10);
  --ids-color-info-strongest: var(--ids-color-blue-100);
  --ids-color-info-stronger: var(--ids-color-theme-90);
  --ids-color-info-strong: var(--ids-color-blue-80);
  --ids-color-info-weaker: var(--ids-color-blue-40);
  --ids-color-info-weakest: var(--ids-color-blue-10);
  --ids-color-success-strongest: var(--ids-color-green-100);
  --ids-color-success-stronger: var(--ids-color-green-90);
  --ids-color-success-strong: var(--ids-color-green-80);
  --ids-color-success-weaker: var(--ids-color-green-40);
  --ids-color-success-weakest: var(--ids-color-green-10);
  // Border colors
  --ids-color-border-action-danger-disabled: var(--ids-color-red-80);
  --ids-color-border-action-danger-selected: var(--ids-color-red-100);
  --ids-color-border-action-danger-hover: var(--ids-color-red-100);
  --ids-color-border-action-danger-default: var(--ids-color-red-80);
  --ids-color-border-action-neutral-selected: var(--ids-color-gray-70);
  --ids-color-border-action-neutral-default: var(--ids-color-gray-50);
  --ids-color-border-action-neutral-hover: var(--ids-color-gray-70);
  --ids-color-border-action-tertiary-gen-ai: var(--ids-color-surface-default);
  --ids-color-border-action-tertiary-destructive-hover: var(--ids-color-error-weakest);
  --ids-color-border-action-tertiary-disabled: var(--ids-color-surface-default);
  --ids-color-border-action-tertiary-selected: var(--ids-color-surface-default);
  --ids-color-border-action-tertiary-hover: var(--ids-color-black-10);
  --ids-color-border-action-tertiary-default: var(--ids-color-surface-default);
  --ids-color-border-action-secondary-disabled: var(--ids-color-blue-80);
  --ids-color-border-action-secondary-focus: var(--ids-color-blue-80);
  --ids-color-border-action-secondary-selected: var(--ids-color-blue-90);
  --ids-color-border-action-secondary-hover: var(--ids-color-blue-10);
  --ids-color-border-action-secondary-default: var(--ids-color-blue-80);
  --ids-color-border-action-primary-focus: var(--ids-color-blue-80);
  --ids-color-border-action-primary-disabled: var(--ids-color-blue-80);
  --ids-color-border-action-primary-selected: var(--ids-color-blue-90);
  --ids-color-border-action-primary-hover: var(--ids-color-blue-90);
  --ids-color-border-action-primary-default: var(--ids-color-blue-80);
  --ids-color-border-warning: var(--ids-color-orange-80);
  --ids-color-border-strongest: var(--ids-color-gray-80);
  --ids-color-border-inverse: var(--ids-color-white-100);
  --ids-color-border-disabled: var(--ids-color-neutral-weak);
  --ids-color-border-weakest: var(--ids-color-gray-30);
  --ids-color-border-info: var(--ids-color-info-strong);
  --ids-color-border-caution: var(--ids-color-caution-strong);
  --ids-color-border-error: var(--ids-color-error-strong);
  --ids-color-border-success: var(--ids-color-success-stronger);
  --ids-color-border-default: var(--ids-color-gray-40);
  // Radii 
  --ids-radius-circular: var(--ids-border-radius-circular);
  --ids-radius-xl: var(--ids-border-radius-40);
  --ids-radius-lg: var(--ids-border-radius-24);
  --ids-radius-md: var(--ids-border-radius-16);
  --ids-radius-sm: var(--ids-border-radius-08);
  --ids-radius-xs: var(--ids-border-radius-04);
  --ids-radius-xxs: var(--ids-border-radius-02);
  --ids-radius-none: var(--ids-border-radius-none);
  // Space 
  --ids-spacing-xxxxl: var(--ids-spacing-72);
  --ids-spacing-xxxl: var(--ids-spacing-56);
  --ids-spacing-xxl: var(--ids-spacing-48);
  --ids-spacing-xl: var(--ids-spacing-40);
  --ids-spacing-lg: var(--ids-spacing-32);
  --ids-spacing-md: var(--ids-spacing-24);
  --ids-spacing-sm: var(--ids-spacing-16);
  --ids-spacing-xs: var(--ids-spacing-08);
  --ids-spacing-xxs: var(--ids-spacing-04);
  --ids-spacing-xxxs: var(--ids-spacing-02);
  --ids-spacing-none: var(--ids-spacing-0);
} 
